@media only screen and (max-width : 901px){
    header{
        margin: 26px 14px!important;
    }
    nav{
        width: 100vw;
        flex-direction: column;
    }
    nav h1{
        font-size: 1.6em;
    }
    nav ul li{
        margin-top: 10px;
    }
    nav ul li img{
        width: 20px;
        height: 20px;
    }
    .content {
        width: 170vw;
    }
    .content .about{
        margin: 0px 40px;
    }
    .image .circle{
        visibility: hidden;
    }
    .content .about h1{
        font-size: 2em;
    }
    .content .about span{
        font-size: 20px;
    }
    .image img{
        visibility: hidden;
    }
    .about .colors{
        margin-top: 35px;
    }
    .education{
        margin: 0px 40px;
    }
    .education .grid{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 50px;
    }
    .education .grid .institute{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        width: 100%;
        height: 100%;
        color: white;
        font-family: 'Roboto', sans-serif;
        overflow: visible!important;

    }
    .education .grid .institute .description{
       margin-left: 15px;
    }
    .education .grid .institute h2{
        font-size: 1em;
    }
    .education .grid .institute img{
        width: 50px;
        height: 50px;
        margin-right: -5px;
    }
    .projects .grid{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 50px;
    }
    .projects{
        margin: 75px 40px;
    }
    .projects .grid .project{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        width: 100%;
        height: 100%;
        color: white;
        font-family: 'Roboto', sans-serif;
        overflow: visible!important;

    }
    .projects .grid .project .description{
       margin-left: 20px;
    }
    .projects .grid .project h2{
        font-size: 1em;
        margin-top: 7px;
    }
    .contact{
        margin: 100px 0px;
    }
    .contact h1{
        font-size: 36px;
    }
}
@media only screen and (min-width:905px) {
    .image img{
        right: 7%;
    top: 22%;
    width: 250px;
    height: 250px;
    }
}

@media only screen and (min-width:713px) {
    nav h1 {
        font-size: 2em;
    }
    .image .circle {
        visibility: hidden;
    }
    .content .about h1 {
        font-size: 3em;
    }
    .content .about span {
        font-size: 27px;
    }

}